$jalappeno-white: #fafafa;

$jalappeno: (
  "green-10": #eafcf3,
  "green-20": #d4f8e8,
  "green-30": #bff5dc,
  "green-40": #a9f1d1,
  "green-50": #94eec5,
  "green-60": #7eebb9,
  "green-70": #69e7ae,
  "green-80": #53e4a2,
  "green-90": #3ee097,
  "green-100": #28dd8b,
  "green-110": #24c77d,
  "green-120": #20b16f,
  "green-130": #1c9b61,
  "green-140": #188553,
  "green-150": #146f46,

  "green-pop-10": #e9fbe6,
  "green-pop-20": #c4f6bc,
  "green-pop-30": #a6f198,
  "green-pop-40": #82e473,
  "green-pop-50": #66d855,
  "green-pop-60": #44c734,
  "green-pop-70": #31b920,
  "green-pop-80": #1faa10,
  "green-pop-90": #1c990e,
  "green-pop-100": #19890d,
  "green-pop-110": #16780c,
  "green-pop-120": #14680a,
  "green-pop-130": #0f5508,
  "green-pop-140": #0b3f05,
  "green-pop-150": #062803,
);

$primarybackground: $jalappeno-white;
$primary: map-get($jalappeno, 'green-80');
$success: map-get($jalappeno, 'green-80');

@each $color in green {
  @for $i from 1 through 15 {
    .is-#{"" + $color}-#{$i * 10} {
      color: map-get($jalappeno, $color + '-#{$i * 10}') !important;
    }

    .is-#{"" + $color}-pop-#{$i * 10} {
      color: map-get($jalappeno, $color + '-pop-#{$i * 10}') !important;
    }
  }
}
